.resourceBtn{
    width:100%;
    padding-bottom:40px !important;
    font-size: 2em !important;
    letter-spacing: 2px;
    margin-bottom: 20px !important;
    background-color: rgba(6, 88, 118, 0.66) !important;
    text-align: center;
}
/* .video{
    
    justify-content: center;
    margin-left: 60px;
   
  flex-direction: column;
  align-items: center;
} */

#youtube{
    display: inline-block;
    margin:10px;

}

@media only screen and (max-width: 68rem) {
  
    .video{
        
        margin-left:70px !important;
      align-items: center !important;
    }
}
@media only screen and (max-width: 32rem) {
   
    .video{
        margin-left:auto !important;
      align-items: center !important;
    }
}

