*, *:after, *:before {
    box-sizing: inherit; }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%; }
  
  html, body {
    width: 100%;
    margin: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 1rem;
    /* text-align: center; */
    background-color: #fff;
    color: #111; 
    padding: 0px;
    overflow-x: hidden; 
  }
  
  h1 {
    margin: 2.5rem 0 1.5rem 0; }
  
  a {
    text-decoration: none;
    color: #111;
    transition: all 0.3s ease;
    cursor: pointer; }
    a:hover {
      color: rgb(62, 113, 145); }
  
  #day{
    text-align: center
  }
  
  .date-active{
    text-align: center 
  }
  
  .calendar-img{
    width:100%;
    height:200px;
    opacity: 0.5;
    max-width: 100%;
  }
  
  .calendar-img1{
    width:100%;
    height:200px;
    max-width: 100%;
    opacity: 0.4;
  
  }
  #modal-btn{
    height: 60px;
    width: 20%;
    border-radius:0px;
    font-size:1.6em;
    letter-spacing: 3px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px rgb(35, 54, 65) solid;
    background: rgba(6, 88, 118, 0.66);
  }

  #modal-btn:hover{
    background-color: rgb(111, 132, 145); 
    
  }
  
  #modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .event-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .event-btn{
    height: 34px;
    width: 25%;
    font-size: 1.2em !important;
    letter-spacing: 1px;
    border-radius:0px !important;
    background-color: rgba(6, 88, 118, 0.66) !important;
    
  }
  
  .event-title{
      margin-top: 50px;
      padding-bottom: 10px;
      margin-right:40px
  }
  
  .info-border{
    border: .1px solid black
  }
  
  
  
  #quotes{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.1px;
    font-weight: 500 ;
    font-size: 1.5em;
  }
  
  #quotes-container{
    /* margin-top: 20px; */
    background-color: rgba(6, 88, 118, 0.55);
    color:white;
  }
  
  
  #border{
   border: 1px solid black;
   width: 230px;
   text-align: center ;
   margin-left:auto;
   margin-right:auto;
   margin-top:15px;
   margin-bottom: 15px;
  }

  .calendar-modal{
    z-index:9999;
    position:fixed;
    opacity:5;
    background: #111;
   
  }

  #calendar-comp{
    display: block;
    margin-left: auto;
    margin-right: auto;
   margin:0px;
  }
  
  button {
    font: inherit;
    font-size: 1.4rem;
    font-weight: normal;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer; }
    button.btn-main {
      color: #fff;
      background: rgb(62, 113, 145); 
     
    }
    #btn-calendar{
      width: 80%;
      display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    }
  
    #calendar-select{
      border: 0.1rem solid rgb(62, 113, 145);
      display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 0px;
    }
  
  input {
    font: inherit;
    font-weight: normal;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    outline: 0; }
    input::placeholder {
      color: rgba(0, 0, 0, 0.4); }
    input.input-main {
      border: 0.1rem solid rgb(62, 113, 145);
      display: block;
    margin-left: auto;
    margin-right: auto;
     }
  
  input, button {
    height: 2.4rem;
    padding: 0.5rem 1rem;
    line-height: 1; }
  
  .input-group {
    display: flex;
    align-items: center;
    justify-content: center; }
    .input-group input {
      width: 80%; }
    .input-group button {
      width: 20%; }
  
  #app {
    width: 21rem; }
  
  .search {
    width: 100%;
    margin: 1.0rem 0 1.0rem 0; }
    .search input {
      width: 100%; }
  
  .month {
    margin: 0;
    font-size: 1.1rem; }
    .month .month-active {
      width: 12rem; }
    .month .month-selector a {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      line-height: 2rem; }
    .month .month-active, .month .month-selector {
      display: inline-block;
      padding: 0.5rem; }
  
  .weekdays, .days {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    user-select: none; }
  
  .weekdays .day, .days .day {
    width: 3rem;
    height: 3rem;
    line-height: 3rem; }
  
  .days {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1); }
    .days .day {
      position: relative;
      cursor: pointer;
      transition: color, background 0.2s ease-in-out; }
      .days .day:not(.day-empty):not(.day-active):not(.has-matches):hover {
        color: rgb(62, 113, 145);
        background: rgba(0, 0, 0, 0.05); }
      .days .day.day-active {
        color: #fff;
        background: rgb(62, 113, 145); }
        .days .day.day-active.has-events::before {
          background: #fff; }
      .days .day.day-empty {
        cursor: initial; }
      .days .day.has-events::before {
        content: "";
        position: absolute;
        display: block;
        top: 0.40rem;
        left: 0.40rem;
        width: 0.35rem;
        height: 0.35rem;
        border-radius: 50%;
        background: rgb(62, 113, 145); }
      .days .day.has-matches:not(.day-active) {
        background: rgba(255, 0, 0, 0.1);
        color: rgb(62, 113, 145); }
  
  .events {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1); }
    .events ul {
      margin: 0 0 1.5rem 1.5rem;
      padding: 0; }
      .events ul li {
        list-style-type: disc;
        word-break: break-word;
        text-align: left;
        padding: 0;
        font-size: 1.2rem; }
        .events ul li a {
          padding: 0 0.5rem;
          line-height: 2rem;
          font-weight: bold;
          transition: 0.3s all ease;
          opacity: 0; }
          .events ul li a:hover {
            opacity: 1; }
    .events p {
      margin: 0 0 2rem 0; }
  
  .event-add {
    margin: 2rem 0 4rem 0; }
    @media only screen and (max-width: 100rem) {
      #modal-btn{
        width:auto
      }
      .event-btn{
        width:auto
      }
    }
    @media only screen and (max-width: 68rem) {
      #modal-btn{
        width:auto
      }
      .event-btn{
        width:auto
      }
    }
  @media only screen and (max-width: 32rem) {
    #app {
      width: 95%; }
    .calendar {
      width: 100%; }
      .calendar .days, .calendar .weekdays {
        width: 100%; }
      .calendar .day {
        font-size: 4.5vw;
        width: 12.5vw;
        height: 12.5vw;
        line-height: 12.5vw; }
        .calendar .day.has-events::before {
          top: 1.5vw;
          left: 1.5vw;
          width: 1.5vw;
          height: 1.5vw; }
        #border{
          width:103%;
          margin-top:40px;
          padding-left:0px !important;
          
        }
        .modal-body{
          padding-left:0px
        }
        #modal-btn{
          width:auto
        }
        .event-btn{
          width:auto
        }
         }