.form-control{
    background: transparent;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 0px !important;
}

.form-control:focus, .form-control:active{
    outline:none !important;
    box-shadow:5px 2px red;
    background: transparent;  
    border: 1px solid black;
    text-decoration: none;
    border-radius: 0px;
}

#register-btn{
    height: 40px;
    border-radius: 0px;
    background: rgb(62, 113, 145); 
}

#select-inputs{
    height: 40px;
    border-radius: 0px;
}